
<!-- THEME DEBUG --><!-- THEME HOOK: 'swiftmailer' --><!-- FILE NAME SUGGES=

TIONS:

   x swiftmailer--newsletter--mail.html.twig

   * swiftmailer--newsletter.html.twig

   * swiftmailer.html.twig

   * swiftmailer.html.twig

--><!-- BEGIN OUTPUT from 'themes/custom/ncs_primary/templates/misc/swiftma=

iler--newsletter--mail.html.twig' -->

<html>

<head>

<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8">

<meta http-equiv=3D"X-UA-Compatible" content=3D"IE=3D10">

<meta http-equiv=3D"pragma" content=3D"no-cache">

<meta name=3D"referrer" content=3D"never">

<style>

      blockquote {display: block; -webkit-margin-before: 1em; -webkit-margi=

n-after: 1em; -webkit-margin-start: 40px; -webkit-margin-end: 40px;}

      table {display: table; border-collapse: separate; border-spacing: 0px=

 5px; border-color: grey;}

    </style>

</head>

<body>

<blockquote type=3D"cite">

<table width=3D"1000">

<tbody>

<tr>

<td><img src=3D"cid:8a625d3d7bda18c5d07b7dee72b7a13c@swift.generated"></td>

</tr>

<tr style=3D"vertical-align: middle;">

<td align=3D"left">

<h1>Today's Headlines</h1>

</td>

<td align=3D"right">Wednesday, August 30, 2017 </td>

</tr>

</tbody>

</table>

<table width=3D"1000">

<tbody>

<tr>

<td>

<hr>

</td>

</tr>

</tbody>

</table>

<table width=3D"1000">

<tbody>

<tr bgcolor=3D"#eeeeee">

<td width=3D"20%" height=3D"150" align=3D"middle" valign=3D"middle"><a href=3D"http:/=

/tc1va-x02-dev.newscyclecloud.com//article/readers-share-eclipse-stories"><i=

mg width=3D"100" height=3D"100" src=3D"http://s3.amazonaws.com/tc1va-s-s3/tc1va_x0=

2/s3fs-public/solar-eclipse.gif">

</a></td>

<td width=3D"80%" height=3D"150" align=3D"left" valign=3D"top"><a height=3D"10" valig=

n=3D"top" href=3D"http://tc1va-x02-dev.newscyclecloud.com//article/readers-share=

-eclipse-stories">

<h2>Readers share eclipse stories</h2>

</a>

<p height=3D"10">By Giorgio A. Tsoukalos </p>

<p height=3D"80">=E2=80=9COne of my grandmothers saw that eclipse in 1918, and she =

was 13 years old, and she lived to be 86, and she still talked about that ec=

lipse,&quot; said Dr....</p>

</td>

</tr>

<tr bgcolor=3D"#eeeeee">

<td width=3D"20%" height=3D"150" align=3D"middle" valign=3D"middle"><a href=3D"http:/=

/tc1va-x02-dev.newscyclecloud.com//article/lesson-monday=E2=80=99s-eclipse-=E2=80=94-tru=

st-science"><img width=3D"100" height=3D"100" src=3D"http://s3.amazonaws.com/tc1va=

-s-s3/tc1va_x02/s3fs-public/total-solar-elipse-diamondring.jpg">

</a></td>

<td width=3D"80%" height=3D"150" align=3D"left" valign=3D"top"><a height=3D"10" valig=

n=3D"top" href=3D"http://tc1va-x02-dev.newscyclecloud.com//article/lesson-monday=

=E2=80=99s-eclipse-=E2=80=94-trust-science">

<h2>A lesson of Monday=E2=80=99s eclipse =E2=80=94 trust science</h2>

</a>

<p height=3D"10">By </p>

<p height=3D"80">But when it comes to all kinds of other scientifically verif=

ied phenomena =E2=80=94 the reality of man-made climate change, the safety of vacc=

inations, the safety of genetically modified crops =E2=80=94...</p>

</td>

</tr>

<tr bgcolor=3D"#eeeeee">

<td width=3D"20%" height=3D"150" align=3D"middle" valign=3D"middle"><a href=3D"http:/=

/tc1va-x02-dev.newscyclecloud.com//article/news-story-headline"><img width=3D"=

100" height=3D"100" src=3D"http://s3.amazonaws.com/tc1va-s-s3/tc1va_x02/s3fs-pub=

lic/Sculpture_of_astronaut.jpg">

</a></td>

<td width=3D"80%" height=3D"150" align=3D"left" valign=3D"top"><a height=3D"10" valig=

n=3D"top" href=3D"http://tc1va-x02-dev.newscyclecloud.com//article/news-story-he=

adline">

<h2>News Story Headline A</h2>

</a>

<p height=3D"10">By S Mosier </p>

<p height=3D"80">Sulzberger Demand Media hot news doctrine plagiarism kitchen=

 table of the future newspaper commons-based peer production, David Foster W=

allace Jeff Jarvis prostate put the paper to bed Foursquare Voice of...</p>

</td>

</tr>

<tr bgcolor=3D"#eeeeee">

<td width=3D"20%" height=3D"150" align=3D"middle" valign=3D"middle"><a href=3D"http:/=

/tc1va-x02-dev.newscyclecloud.com//article/hamilton-coming-straz-center-tamp=

a"><img width=3D"100" height=3D"100" src=3D"">

</a></td>

<td width=3D"80%" height=3D"150" align=3D"left" valign=3D"top"><a height=3D"10" valig=

n=3D"top" href=3D"http://tc1va-x02-dev.newscyclecloud.com//article/hamilton-comi=

ng-straz-center-tampa">

<h2>'Hamilton' is coming to the Straz Center in Tampa</h2>

</a>

<p height=3D"10">By </p>

<p height=3D"80">It has long been the hardest ticket to get on Broadway, let =

alone in Tampa. But the wait locally for Hamilton finally has an end in sigh=

t. A touring version...</p>

</td>

</tr>

<tr bgcolor=3D"#eeeeee">

<td width=3D"20%" height=3D"150" align=3D"middle" valign=3D"middle"><a href=3D"http:/=

/tc1va-x02-dev.newscyclecloud.com//article/tampa-bay-weather-2017-eclipse"><=

img width=3D"100" height=3D"100" src=3D"">

</a></td>

<td width=3D"80%" height=3D"150" align=3D"left" valign=3D"top"><a height=3D"10" valig=

n=3D"top" href=3D"http://tc1va-x02-dev.newscyclecloud.com//article/tampa-bay-wea=

ther-2017-eclipse">

<h2>Tampa Bay Weather for 2017 Eclipse</h2>

</a>

<p height=3D"10">By Eric Deweese</p>

<p height=3D"80">100% chance of cloudy weather. You most likely won't be able=

 to see much! [twitter_widget]</p>

</td>

</tr>

<tr>

<td><a href=3D"http://tc1va-x02-dev.newscyclecloud.com/newsletter/unsubscribe=

/MHwrYkorcTBPbE1DcDFuckdHaHNKWVpQelNnQWlyeTZsdlB0L0RCM1NNTTk0cmI4MWQ0ZGxrMzV=

JRElxenpwNnZnWWd0MmovenN8VndOVk5nWlpsY3IxT2szdFB0SkdCdz09">Unsubscribe</a></=

td>

</tr>

</tbody>

</table>

</blockquote>

<!-- END OUTPUT from 'themes/custom/ncs_primary/templates/misc/swiftmailer-=

-newsletter--mail.html.twig' -->

</body>

</html>
