/**
* @file
* Visual styles for Bartik's featured bottom component.
*/

.featured-bottom {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
.featured-bottom-second .region {
  padding: 20px 5px 30px;
}
.featured-bottom .region {
  padding: 0 20px;
}
@media all and (min-width: 560px) {
  .featured-bottom .region {
    float: left; /* LTR */
    position: relative;
    box-sizing: border-box;
    padding: 20px 15px 30px;
    width: 33%;
  }
  [dir="rtl"] .featured-bottom .region {
    float: right;
  }
}
@media all and (min-width: 992px) { /* 851px */  /* Thuy - dtatheme has this minwidth expanded */
  .featured-bottom .region {
    padding: 0 20px;
  }
}
.featured-bottom h2 {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1em;
}
.featured-bottom .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3em;
}
.featured-bottom .block:last-child {
  border-bottom: none;
}
.featured-bottom ul,
.featured-bottom ol {
  padding-left: 0;
}
.featured-bottom ul li,
.featured-bottom ol li {
  list-style: none;
}
.featured-bottom .block-user-login input:not(.form-text) {
  width: 185px;
}
.featured-bottom input:not(.form-submit) {
  width: 185px;
}

.featured-bottom .block-user-online p {
  margin-bottom: 0;
}
.featured-bottom .block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
.featured-bottom-third .block-node-syndicate {
  text-align: right;
}
.region-featured-bottom-third .feed-icon {
  float: right;
}
.region-featured-bottom .block-search-form input:not(.form-type-search) {
  width: 185px;
}
.region-featured-bottom-second .block-system-powered-by-block {
  text-align: center;
}
.region-featured-bottom-third .block-system-powered-by-block {
  text-align: right;
}

