/*
article {
	width: 150%;
	margin-left:-50%;
}

.image-container {
	/*height: 450px;
	overflow:hidden;
}



.rest-of-node{
	width: 66%;
	margin-left: 33%;
}

.movedown {
  transform: translateY(100%) !important;
}

.field--name-field-in-page-image > div > a > img {
	width: 100%;
}

.node__tile > a > span{
	font-size: 30px !important;
}

@media all and (max-width: 851px) {

	#sidebar-second-top{
		width: 100%;
	}
}*/