.affix{
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
  z-index: 9999 !important;
}

.toolbar-horizontal .affix {
  top: 39px
}

.toolbar-horizontal.toolbar-tray-open .affix {
  top: 87px
}

.toolbar-vertical.toolbar-tray-open .affix {
  top: 39px;
}

.icon-bar {
  background-color: #2f2f2f;
}

@media (max-width: 768px) {
  .toolbar-horizontal .affix {
    top: 39px;
  }
 .toolbar-vertical.toolbar-tray-open .affix {
    top: 87px;
  }
  .toolbar-horizontal.toolbar-tray-open .affix {
    top: 87px;
  }
}