<div class="row">
   {{ content }}
    <div class="col-md-2 col-xs-6 col-sm-3 todays-edition">
        <h3 class="footer-header">Today's Edition</h3>       
        <ul class="footer-links">
            <li class="footer-links-item"><a href="#"></a></li>
        </ul>
    </div>
</div>
<div class="row ncs-footer-section">
    <div class="col-md-3">
        <img class="img-responsive" alt="ncs-footer-image" src="/themes/custom/dtatheme/images/footerlogo.png"/>
    </div>
    <div class="col-md-9">
        <p  class="copy-rights">Copyright <a href"#">NEWSCYCLE</a> Solutions 2015 - Headquarters: 7900 International Drive Suite 800, Bloomington, MN 55425 USA</p>
    </div>
    <div class="col-md-12 hidden-xs text-right">
        <a href="" class="Scroll-top-slow">Top</a> 
    </div>
</div>